certifi==2024.2.2
chardet==5.1.0
cloudpickle==3.0.0
cycler==0.12.1
dask==2024.7.1
decorator==5.1.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.7
imageio==2.37.0
imageio-ffmpeg==0.4.7
kiwisolver==1.4.6
matplotlib==3.10.1
networkx==3.3
numpy==1.26.4
opencv-python==4.10.0.82
pandas==2.2.1
Pillow==11.2.1
protobuf==4.25.7
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
PyWavelets==1.6.0
requests==2.31.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.1
six==1.16.0
tensorboardX==2.6.1
toolz==0.12.1
torch==2.5.0
torchvision==0.20.0
tqdm==4.66.3
urllib3==1.24.3